<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles administrador</title>
</head>
<body>
    <h2>Detalle administrador:</h2>
    <p>Puesto: {{administrador.puesto}}</p>
    <p>Nombre: {{administrador.nombre}}</p>
    <p>Apellido: {{administrador.apellido}}</p>
    <p>Email: {{administrador.email}}</p>
    <a href="{% url 'administracion' %}">Regresar a lista admin</a>
</body>
</html>