<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del deporte</title>
</head>
<body>
    <h2>Detalle del deporte:</h2>
    <p>Deporte: {{deporte.deporte}}</p>
    <p>Profesor: {{deporte.profesor}}</p>
    <p>Horario: {{deporte.horario}}</p>
    <a href="{% url 'deportes' %}">Regresar a lista deportes</a>
</body>
</html>