<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Profesor</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        ¿Está seguro que desea eliminar el profesor: {{profesor.nombre}} {{profesor.apellido}} del deporte {{profesor.deporte}}?
        <input type="submit" value="Sí, Eliminar.">
        <a href = "{% url 'profesores' %}" class='btn btn-default'>Cancelar</a>
    </form>
</body>
</html>