<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles profesor</title>
</head>
<body>
    <h2>Detalle profesor:</h2>
    <p>Nombre: {{profesor.nombre}}</p>
    <p>Apellido: {{profesor.apellido}}</p>
    <p>Deporte: {{profesor.deporte}}</p>
    <p>Email: {{profesor.email}}</p>
    <a href="{% url 'profesores' %}">Regresar a lista profes</a>
</body>
</html>