<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Socios</title>
</head>
<body>
    <h2>Lista de socios:</h2>
    <ul>
        {% for socio in object_list %}
            <li>
                Socio: {{socio.nombre}} {{socio.apellido}} | 
                <a href="{% url 'socios_detail' socio.id %}">Ver</a>
                <a href="{% url 'socios_update' socio.id %}">Editar</a>
                <a href="{% url 'socios_delete' socio.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'socios_create' %}">Crear socio</a>
</body>
</html>